<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Screening | Rishi Pandey</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>




<body>
    <nav class="navbar">

    <div class="logo">
        🤖 AI Resume Screening
    </div>

    <div class="menu">

        <a href="/">🏠 Home</a>

        <a href="/history">📋 History</a>

        <span class="creator">
            👨‍💻 Rishi Pandey
        </span>

    </div>

</nav>

<div class="container">

    <h1>🤖 AI Resume Screening & Candidate Ranking Tool</h1>

    <div class="developer">
        <p>Professional AI Powered Hiring Assistant</p>

        <h2 class="developer-name">
          
        </h2>
    </div>

    <p>
        Upload your Resume and paste the Job Description to calculate the AI Match Score.
    </p>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="resume"
            accept=".pdf,.doc,.docx"
            required>

        <br><br>

        <textarea
            name="job_description"
            rows="8"
            placeholder="Paste Job Description Here..."
            required></textarea>

        <br><br>

        <button type="submit">
            🚀 Analyze Resume
        </button>

    </form>

</div>

</body>


</html>